<!--public String source;-->
<!--public String reportJsonUrl;-->
<!--public String HTMLReport;-->
<!--public String JSONReport;-->
<!--public String reportHtmlUrl;-->
<!--public String[] recipients;-->
<!--public String projectUrl;-->
<!--public String buildUrl;-->
<!--public String date;-->
<!--public String commit;-->
<!--public String branch;-->
<table class="attributes" width="100%" cellpadding="0" cellspacing="0" role="presentation" style="margin: 0 0 21px;">
    <tr>
        <td class="attributes_content" style="word-break: break-word; font-family: Helvetica, Arial, sans-serif; font-size: 16px; background-color: #F4F4F7; padding: 16px;" bgcolor="#F4F4F7">
            <table width="100%" cellpadding="0" cellspacing="0" role="presentation">

<!--                -->
<!--                <tr>-->
<!--                    <td class="attributes_item" style="word-break: break-word; font-family: Helvetica, Arial, sans-serif; font-size: 16px; padding: 0;">-->
<!--                        <div class="f-fallback">-->
<!--                            <strong><a href="{{export_url}}" style="color: #3869D4;">Export your data</a></strong> - If [Product Name] wasn't a good fit, you can export your data for use elsewhere.-->
<!--                            <br>-->
<!--                            <br>-->
<!--                        </div>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td class="attributes_item" style="word-break: break-word; font-family: Helvetica, Arial, sans-serif; font-size: 16px; padding: 0;">-->
<!--                        <div class="f-fallback">-->
<!--                            <strong><a href="{{close_account_url}}" style="color: #3869D4;">Close your account</a></strong> - You can close your account and delete your data. Or, do nothing and we'll automatically close it and delete your data for you in 90 days. But don't worry, we'll send you another email before that happens.-->
<!--                        </div>-->
<!--                    </td>-->
<!--                </tr>-->
            </table>
        </td>
    </tr>
</table>
